 .u-section-1 {
  background-image: url("images/pexels-karolina-grabowska-4040649.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 326px;
  height: auto;
  margin: 124px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  margin: 0 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-1 {
  width: 345px;
  height: 345px;
  margin: -335px 72px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-group-1 {
    width: 338px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 55px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -289px;
    margin-right: auto;
    margin-left: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-2 .u-gallery-1 {
  height: 349px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
  width: 100%;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 44px 44px;
}

.u-section-2 .u-gallery-item-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2));
  transition-duration: 3s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2));
  transition-duration: 3s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2));
  transition-duration: 3s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1699px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 1047px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 97px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3141px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }
}